include zemberek/resources/*.bin
include zemberek/resources/*.txt
include zemberek/resources/*.csv
include zemberek/resources/*.slm
include zemberek/resources/*.pickle
recursive-include zemberek/resources/ambiguity *
recursive-include zemberek/resources/normalization *
recursive-include zemberek/resources/phonetics *
